body {
    margin: 0;
    padding: 0;
    background-color: #36393F;
    font-family: consolas;
}

.screen {
    width: 100%;
    padding: 40px;
    max-height: 100%;
    overflow-y: auto;
}

.screen::-webkit-scrollbar {
    width: 10px;
}

.screen::-webkit-scrollbar-track {
    background-color: #2F3136;
    border-radius: 10px;
}

.screen::-webkit-scrollbar-thumb {
    background-color: #202225;
    border-radius: 10px;
    margin: 10px 0px;
}

.screen div.hidePage {
    display: none;
}

.pagebar {
    background-color: #2F3136;
    max-height: 100%;
    min-width: 250px;
    padding: 7.5px;
    display: flex;
    flex-direction: column;
}

.pages {
    overflow-y: auto;
    max-height: 100%;
}

.pages::-webkit-scrollbar {
    width: 5px;
}

.pages::-webkit-scrollbar-track {
    background-color: #2F3136;
    border-radius: 10px;
}

.pages::-webkit-scrollbar-thumb {
    background-color: #202225;
    border-radius: 10px;
}

.page {
    margin: 3px;
    padding: 5px 15px;
    color: grey;
    font-size: 15px;
    transition-duration: 0.15s;
    background-color: transparent;
    outline: none;
    border: none;
    text-align: left;
}

.page:hover {
    color: rgb(180, 180, 180);
    cursor: pointer;
    transition-duration: 0.15s;
}

.actualPage {
    background-color: #5865F2;
    color: whitesmoke !important;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}
div.pages div div.page:not(.actualPage) {
    background-color: rgba(255,255,255,0.1);
    color: whitesmoke !important;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.subpages {
    margin-left: 15px;
    display: none;
}

.actualManaged .subpages {
    display: block;
}

.subpage {
    margin: 1px;
    padding: 5px 15px;
    color: rgb(115, 115, 115);
    font-size: 14px;
    transition-duration: 0.15s;
    background-color: transparent;
    outline: none;
    border: none;
    text-align: left;
    display: flex;
}

.subpage:hover {
    color: whitesmoke;
    text-decoration: underline;
    cursor: pointer;
    transition-duration: 0.15s;
}

.actualSubpage {
    color: whitesmoke !important;
}

.arrowSubpage {
    margin: auto;
    margin-left: -17.5px;
    margin-right: 10px;
    display: none;
}

.actualSubpage .arrowSubpage {
    display: block !important;
}

.pagebar_title {
    width: 100%;
    text-align: center;
    font-size: 25px;
    box-sizing: border-box;
    color: whitesmoke;
    font-weight: 900;
}

.separator {
    width: 97.5%;
    min-height: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #454950;
}

.hyperlink {
    color: #23A4F4;
}

.hyperlink:hover {
    text-decoration: underline;
    cursor: pointer;
}

.method {
    color: #DDA338;
    font-weight: 900;
}

.endpointUrl {
    color: whitesmoke;
}

.title {
    font-size: 35px;
    font-weight: 900;
    color: whitesmoke;
    margin-bottom: 10px;
    width: 100%;
}

.object {
    display: flex;
}

.object:hover {
    cursor: pointer
}

.object_title {
    font-size: 20px;
    font-weight: 500;
    color: whitesmoke;
    margin: 5px 0px;
    width: max-content;
}

.litle_object_title {
    font-size: 15px;
    font-weight: 250;
    color: rgb(225, 225, 225);
    margin: 5px 0px;
    width: max-content;
}

.object_icon {
    margin: auto;
    margin-left: 10px;
    display: none;
}

.object:hover .object_icon {
    display: flex;
}

.description {
    font-size: 15px;
    font-weight: 500;
    color: rgb(225, 225, 225);
    width: 100%;
    margin: 5px 0px;
}

.endpoint {
    padding: 10px 15px;
    background-color: #202225;
    border-radius: 10px;
}

.grid {
    display: grid;
    background-color: #202225;
    border-radius: 10px;
    color: whitesmoke;
    padding: 10px 15px;
    grid-auto-rows: auto;
    grid-template-columns: repeat(2, minmax(100px,250px)) repeat(1, minmax(250px, auto));
    grid-gap: 10px;
}

.grid_title {
    font-size: 17.5px;
    font-weight: 700;
}
.grid_separator {
    grid-column: 1 / -1;
    background-color: #2F3136;
    min-height: 1px;
    width: 100%;
}

.grid_row {
    font-size: 13.5px;
    overflow-wrap: break-word;
    color: rgb(180, 180, 180);
    /*background-color: rgb(24, 25, 28);*/
    padding: 5px;
}
.grid_row2 {
    font-size: 13.5px;
    overflow-wrap: break-word;
    color: rgb(180, 180, 180);
    /*background-color: rgb(18, 19, 21);*/
    padding: 5px;
}
.code {
    display: grid;
    background-color: #202225;
    border-radius: 10px;
    font-size: 12.5px;
    color: whitesmoke;
    padding: 10px 15px;
    grid-auto-rows: auto;
    grid-template-columns: repeat(1, 30px) repeat(1, 1px) repeat(1, auto);
}

.code_header {
    grid-column: 2;
    grid-row: span calc(16 + 2);
    background-color: #2F3136;
    min-width: 1px;
    height: 100%;
}
.code_line {
    margin: auto;
    color: grey;
    grid-column: 1;
    user-select: none;
}

.code_text {
    margin-left: 5px;
}


.justSelected {
    animation: justSelected 1s;
}
@keyframes justSelected {
    0% {
        background-color: cyan;
        padding: 0px 5px;
    }
    100% {
        background-color: inherit;
    }
}